*
result/

!LICENSE
!.gitignore
!.envrc
!flake.lock

!*.age
!*.nix
!*.nu

!hosts/
!hosts/**/

!lib/
!lib/**/

!modules/
!modules/**/

!parts/
!parts/**/

!pkgs/
!pkgs/**/

!scripts/
!scripts/**/

!secrets/
!secrets/**/
