*

.direnv/
result/

.pre-commit-config.yaml

!.envrc
!flake.lock
!.gitattributes
!.gitignore
!LICENSE

!modules/
!modules/**/

!filter-deps/
!filter-deps/**/

!**/cradio.conf
!**/cradio.keymap
!**/west.yml

!*.age
!*.nix
!*.nu